* {
      box-sizing: border-box;
      font-family: monospace;
      font-size: 16px;
      line-height: 1.3;
      color: lightgreen;
      background-color: black;
    }
      a:link {
              text-decoration:none;
        }

      a:hover {
            text-decoration: underline;
        }

      nav {
            width: 70%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-align: flex-start;
            gap: 10px 10px;
      }
      section {
            /*display: flex;*/
      }